<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- ドメインはapi.its-mo.comを指定してください -->
<!-- JavaScriptの読み込み -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzTNCHkW3ihWvX1qK5X21mIF6RIJg0hUo&sensor=false&v=3&libraries=adsense"></script>

<!-- 
 <script src="http://api.its-mo.com/cgi/loader.cgi?key=JSZf2b54f3ee3d0&ver=2.0&api=zdcmap.js&enc=UTF8&alert=1" type="text/javascript"></script>
-->

<script type="text/javascript">
//<!--
        /* 東京 */
        var map,
        lat = 35.6778614, lon = 139.7703167;

        function loadMap(){
            map = new ZDC.Map(
                document.getElementById('ZMap'),
                {
                    latlon: new ZDC.LatLon(lat, lon),
                    zoom: 3
                }
            );
        };
    //-->
    </script>

<script type='text/javascript'>
  //
rendererOptions = {
	draggable: true,
	preserveViewport:false
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
var directionsService = new google.maps.DirectionsService();

  var mapCanvas;

  function calcRoute() {
	 var request = {
		 origin: "IBM箱崎",
		 destination: "中央区立有馬小学校",
		 travelMode: google.maps.DirectionsTravelMode.WALKING,
		 unitSystem: google.maps.DirectionsUnitSystem.METRIC,
		// optimizeWaypoints: true,
		 provideRouteAlternatives: true,
		 avoidHighways: false,
		 avoidTolls: false
	 };
	 directionsService.route(request,
		  function(response,status){
			  if (status == google.maps.DirectionsStatus.OK){
			  directionsDisplay.setDirections(response);}
		  });
  }

  function initialize(){
    //地図を作成する
    var mapOptions = {
      zoom : 18,
      mapTypeId : google.maps.MapTypeId.ROADMAP
    };
    var mapDiv = document.getElementById("map_canvas");
    mapCanvas = new google.maps.Map(mapDiv, mapOptions);

    //
    directionsDisplay.setMap(mapCanvas);

    google.maps.event.addListener(directionsDisplay,
      'directions_changed', function(){
    });
    calcRoute();

    //ストリートビューオブジェクトの作成
    //〒103-0015 東京都中央区日本橋箱崎町１８-２４ 35.679413, 139.786198

    var streetViewDiv = document.getElementById("streetview_canvas");
    var streetViewOptions = {
      position : new google.maps.LatLng(35.679413, 139.786198)
    };
    var streetView = new google.maps.StreetViewPanorama(streetViewDiv, streetViewOptions);
    
    //地図とストリートビューを連動する
    mapCanvas.setStreetView(streetView);
    
    //ストリートビューの位置を地図と連動する
    mapCanvas.bindTo("center", streetView, "position");
    
    //ストリートビューの青いレイヤーを表示する
    //(http://googlemaps.googlermania.com/google_maps_api_v3/ja/map_example_streetview_layer.html)
    var streetViewLayer = new google.maps.ImageMapType({
      getTileUrl : function(coord, zoom) {
        return "http://www.google.com/cbk?output=overlay&zoom=" + zoom + "&x=" + coord.x + "&y=" + coord.y + "&cb_client=api";
      },
      tileSize: new google.maps.Size(256, 256)
    });
    mapCanvas.overlayMapTypes.insertAt(0, streetViewLayer);


  }
  google.maps.event.addDomListener(window, "load", initialize);
 
 </script>

    </head>

    <body onload="initialize();">
<!--
    <div id="ZMap" style="border:1px solid #777777; width:500px; height:300px; top:0px; left:20px;
        position:absolute;"></div>
-->
	<br>
	<br>
<h1>Google ストリートビューの視点とマーカーを同期する</h1>
 <p style="position: relative;">
  <div id="streetview_canvas" style="position: absolute; z-index: 1;  width: 100%; height: 400px"></div>
  <div id="map_canvas" style="position: absolute; z-index: 2; width: 20%; height: 300px"></div>
 </p>
    </body>
    </html>
        