<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<script src="http://api.its-mo.com/cgi/loader.cgi?key=JSZf2b54f3ee3d0&ver=2.0&api=zdcmap.js,shape.js,search.js&enc=UTF8&force=1" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
   //日本, 〒812-0011 福岡県福岡市博多区博多駅前３丁目２?１ 日本生命博多駅前ビル 33.585400833, 130.420721667
    //明治公園 33.585351944 130.420049444
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前４丁目１１?１２ 東住吉公民館 33.582903056 130.420793889

    var map, lat = 33.585400833, lon = 130.420721667;

    function loadMap() {
        map = new ZDC.Map(
            document.getElementById('ZMap'),
            {
                latlon: new ZDC.LatLon(lat, lon),
                zoom: 10
            }
        );
        /* 地図をクリックしたときの動作 */
        ZDC.addListener(map, ZDC.MAP_CLICK, getClickLatLon);
    };

    /* クリックした地点の緯度経度を表示する */
    function getClickLatLon() {
        var latlon =  map.getClickLatLon();
        alert('緯度：' + latlon.lat + ' 経度：' + latlon.lon);
    };
//]]>
</script>


</head>

<body onload="loadMap();">
    <div id="ZMap" style="border:1px solid #777777; width:100%; height:300px; top:0px; left:20px; position:absolute;"></div>
    <div style="top:280px; left:540px; position:absolute;">
     <input type="button" value="補正" onclick="routeSearch();"/><br>
     </div>
</body>
</html>