<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ゲームシナリオ選択</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 560px;
    padding: 15px;
/*    margin:100px; */
    margin-top:70px;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/PAK150412100I9A0476_TP_V.jpg');
    background-repeat:repeat;
  }
</style>


<body>

<div id="fullscreen_bg" class="fullscreen_bg"/>

<form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-center">プロローグ</h3>
			<p>デモ版では「デモ用ゲーム１」のPlayボタンのページ遷移のみ有効です</p>

                    <form class="form form-signup" role="form">
		      <div class="table-responsive">
		        <table class="table table-striped table-hover">
		          <thead>
		            <tr>
		              <th class="col-sm-4">項目</th>
		              <th class="col-sm-8 text-center">状況</th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr>
		              <td>
		                日時
		              </td>
		              <td class="text-center">
		                2016/8/28 16:00頃
		              </td>
		            </tr>
		            <tr>
		              <td>
		                日時・天気・気温
		              </td>
		              <td class="text-center">
		                晴れ
		              </td>
		            </tr>
		            <tr>
		              <td>
		                気温
		              </td>
		              <td class="text-center">
		                31度
		              </td>
		            </tr>
		            <tr>
		              <td>
		                被災場所
		              </td>
		              <td class="text-center">
		                イノベーションハブ九州会場
		              </td>
		            </tr>
		            <tr>
		              <td>
		                状況
		              </td>
		              <td class="text-center">
		                イノベーションハブ九州のハッカソンイベントの発表のために会場へ参加していた。
		                <br>
		                イベントで発表するため、徹夜明けで大変疲れている。が、気力で乗り切って、ついに発表・・・というところで揺れがはじまった。
		                <br>
		                「地震か・・・・」と思った瞬間、大きなゆれに変化した！！
		              </td>
		            </tr>
		          </tbody>
		        </table>
                </div>
                <a href="http://sample-simple-toolchain-1470903399938.mybluemix.net/2/playindex" class="btn btn-sm btn-primary btn-block" role="button">Play!!</a>
		<br>
                <a href="#" class="btn btn-sm btn-primary btn-block" role="button">クエストでGetしたカードを見る</a>
            </div>
        </div>
    </div>
</div>
</form>

  </body>
</html>