<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bousai-Go</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- JavaScriptの読み込み -->
<!--	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzTNCHkW3ihWvX1qK5X21mIF6RIJg0hUo"></script> -->
<style>
.arrow_box {
	position: relative;
	background: #background-color: #000000;
	border: 2px solid #ffffff;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #background-color: #000000;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 13px;
	margin-top: -13px;
}
.message{
	color: #ffffff;
}
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type='text/javascript'>
  //
rendererOptions = {
	draggable: true,
	preserveViewport:false
};
var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);
var directionsService = new google.maps.DirectionsService();

var mapCanvas;
var streetView;
    //ストリートビューオブジェクトの作成
    //http://crisis.yahoo.co.jp/shelter/map/
    //http://user.numazu-ct.ac.jp/~tsato/webmap/sphere/coordinates/advanced.html
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前３丁目２?１ 日本生命博多駅前ビル 33.588592, 130.418505
    //明治公園 33.588618 130.417736
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前４丁目１１?１２ 東住吉公民館 33.586176 130.418465
var start = new google.maps.LatLng(33.588592,130.418505);
var ckpt = new google.maps.LatLng(33.588618,130.417736);
var end = new google.maps.LatLng(33.586176,130.418465);

function setStart() {
  mapCanvas.setCenter(start);
  mapCanvas.setZoom(17); 
  
  offMessageBox();
  var message ="近くの公園に逃げよう！<br>それにしても、、、あ”づい”でぢゅう(水分-5)”";
  document.getElementById("message").innerHTML = message;
  
  document.getElementById("life").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/lifegage.png";
  document.getElementById("pika").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/img-pic.png";
  onMessageBox();
}
function setCheckPoint() {
  mapCanvas.setCenter(ckpt);
  mapCanvas.setZoom(17); 

  offMessageBox();
  var message ="公園ついた！<br>あっ！！ここは避難所じゃない・・・でち”ゅう(水分-30)";
  document.getElementById("message").innerHTML = message;

  document.getElementById("life").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/lifegage2.png";
  document.getElementById("pika").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/img-pic2.png";
  onMessageBox();
}
function setEnd() {
  mapCanvas.setCenter(end);
  mapCanvas.setZoom(17); 
  
  offMessageBox();
  var message ="避難所ついた。<br>やったー。";
  document.getElementById("message").innerHTML = message;

  document.getElementById("life").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/lifegage3.png";
  document.getElementById("pika").src = "http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/img-pic.png";
  onMessageBox();
}

function offMessageBox() {
  document.getElementById('messageBox').style.display = 'none';
}
function onMessageBox() {
  document.getElementById('messageBox').style.display = 'block';
}

  function calcRoute() {
	 var request = {
		 origin: start, //"日本生命博多駅前ビル",
		 destination: end, //"東住吉公民館",
		 waypoints: [ { location: ckpt, stopover: true} ],
		 travelMode: google.maps.DirectionsTravelMode.WALKING,
		 unitSystem: google.maps.DirectionsUnitSystem.METRIC,
		 optimizeWaypoints: true,
		 provideRouteAlternatives: true,
		 avoidHighways: false,
		 avoidTolls: false
	 };
	 directionsService.route(request,
		  function(response,status){
			  if (status == google.maps.DirectionsStatus.OK){
			  directionsDisplay.setDirections(response);}
		  });
  }

  function initialize(){
    //地図を作成する
    var mapOptions = {
      zoom : 1,
      mapTypeId : google.maps.MapTypeId.ROADMAP
    };
    var mapDiv = document.getElementById("map_canvas");
    mapCanvas = new google.maps.Map(mapDiv, mapOptions);

    //
    directionsDisplay.setMap(mapCanvas);

    google.maps.event.addListener(directionsDisplay,
      'directions_changed', function(){
    });
    calcRoute();

    //ストリートビューオブジェクトの作成
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前３丁目２?１ 日本生命博多駅前ビル 33.588592, 130.418505
    var streetViewDiv = document.getElementById("streetview_canvas");
    var streetViewOptions = {
      position : new google.maps.LatLng(33.588592, 130.418505),
      pov: { heading: 270.0, pitch:10, zoom:0 }
    };
    streetView = new google.maps.StreetViewPanorama(streetViewDiv, streetViewOptions);
    
    //地図とストリートビューを連動する
    mapCanvas.setStreetView(streetView);
    
    //ストリートビューの位置を地図と連動する
    mapCanvas.bindTo("center", streetView, "position");
  }
  google.maps.event.addDomListener(window, "load", initialize);
 </script>




  </head>
  <body onload="initialize()">
    <div class="container">
      <h1>クエスト<small> / デモ用ゲーム１</small></h1>
	<p>アバターの<span style="color:#ff0000;">ピカチ・・・</span>黄色い生物と一緒に避難しましょう。
	このゲームは<a href="http://www.zettai-zetsumei.jp/">絶体絶命都市シリーズ</a>の
	<a href="https://ja.wikipedia.org/wiki/%E3%82%AA%E3%83%9E%E3%83%BC%E3%82%B8%E3%83%A5">オマージュ</a>です。</p>
	<p>スマホで見た場合<span style="color:#ff0000;">スマホの向きにあわせてGoogle Street Viewの画像が変わります</span>ぜひ、試してみてください！</p>

<!--
	<br>
        <label for="title">クエスト名</label> 
        <input type="text" class="form-control" id="game_name" name="game_name" maxlength='28' placeholder="ゲーム名" value="デモ用ゲーム１" readonly>
	<br>

	<h2>避難プロローグ</h2>
      <div class="form-group">
        <label for="title">日時・天気・気温</label> 
        <input type="text" class="form-control" id="game_templ" name="game_templ" maxlength='28' placeholder="季節" value="2016/8/28 16:00頃　晴れ　31度" readonly>
	<br>
        <label for="title">被災場所</label> 
        <input type="text" class="form-control" id="game_field" name="game_field" maxlength='28' placeholder="場所" value="博多駅周辺ビジネス街" readonly>
	<br>
        <label for="title">状況</label> 
        <input type="text" class="form-control" id="game_situ" name="game_situ" maxlength='28' placeholder="状況" value="ハッカソンに参加している途中で震度7クラスの地震が来た。手持ちアイテムは水のみ" readonly>
      </div>
-->
	<h3 style="color:#ff0000;">震度7クラスの地震発生！</h3>
	 <div class="form-group" style="position: relative;  width: 100%; height: 400px">
	  <div id="streetview_canvas"  style="position: absolute; z-index: 1; width: 100%; height: 400px"></div>
	  
	  <div id="map_canvas" style="position: absolute; z-index: 2; width: 150px; height: 150px"></div>
	<!-- 時間切れのため、ハッカソンではID直接書きで実装する・・・無念 -->
      <a href="#" data-remote="http://sample-simple-toolchain-1470903399938.mybluemix.net/memos2/ed1e504e-c261-4f9f-b6f1-29473acfc50b" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">
	  <img src="http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/Q1.png" height="20px" width="20px" style="position: absolute; z-index: 3; bottom:10px; left:10px;" onclick="setStart();">
      </a>
      
      <a href="#" data-remote="http://sample-simple-toolchain-1470903399938.mybluemix.net/memos2/096a40b0-7d5b-40b0-855c-6b0bcd512dcc" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">
	  <img src="http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/Q1.png" height="20px" width="20px" style="position: absolute; z-index: 4; bottom:10px; left:40px;" onclick="setCheckPoint();">
      </a>

      <a href="#" data-remote="http://sample-simple-toolchain-1470903399938.mybluemix.net/memos2/b453b9f8-f928-4905-a3b7-68d0c30e7a92" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">
	  <img src="http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/Q1.png" height="20px" width="20px" style="position: absolute; z-index: 5; bottom:10px; left:70px;" onclick="setEnd();">
      </a>

      <div id='messageBox' class='arrow_box' height="40px" width="300px" style="position: absolute; z-index: 6; bottom:10px; right:100px;" onclick="offMessageBox();">
        <p class='message' id='message'>地震だ！</p>
      </div>    
	  <img id='life' src="http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/lifegage.png" height="20px" width="60%" style="position: absolute; z-index: 7; top:10px; right:50px;">
	  <img id='pika' src="http://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/img-pic.png" height="40px" width="40px" border="1" style="position: absolute; z-index: 8; bottom:10px; right:50px;" onclick="onMessageBox();">
	 </div>
    <button type="button" class="btn btn-success">ワトソンさんに聞く</button>
    <button type="button" class="btn btn-info">アイテムを使う</button>
    <span style="color:#dddddd;">デモ版では左記ボタンは使用できません</span>
	<br>
<!--
	<h2>チェックポイントクイズ</h2>
	<p>ボウサイカードをもちいたクイズに回答します</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-8">カード名</th>
              <th class="col-sm-3 text-center">更新日時</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(row) { %>
            <tr>
              <td>
                <a href="#" data-remote="/memos2/<%= row.id %>" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false"><%= row.title %></a>
              </td>
              <td class="text-center">
                <%= row.updatedAt %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      -->
      <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <span style="color:#dddddd;">デモ版では右記ボタンは使用できません</span>
    <a href="#" data-remote="http://sample-simple-toolchain-1470903399938.mybluemix.net/result/" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false">
    <button type="button" class="btn btn-primary">クエスト終了</button>
    </a>
  </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).on("hidden.bs.modal", function(event) {
          $(event.target).removeData("bs.modal").find(".modal-content").empty();
        });
      });
    </script>
  </body>
</html>