<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ゲームシナリオ選択</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<style>
body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 560px;
    padding: 15px;
/*    margin:100px; */
    margin-top:70px;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://sample-simple-toolchain-1470903399938.mybluemix.net/static/images/PAK55_hokotenowarimadika20140914001_TP_V.jpg');
    background-repeat:repeat;
  }
</style>


<body>

<div id="fullscreen_bg" class="fullscreen_bg"/>

<form class="form-signin">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="text-center">プロローグ</h3>
		             <form class="form form-signup" role="form">
				      <div class="table-responsive">
				        <table class="table table-striped table-hover">
				          <thead>
				            <tr>
				              <th class="col-sm-4"></th>
				              <th class="col-sm-8"></th>
				            </tr>
				          </thead>
				          <tbody>
				            <tr>
				              <td>
				                日時・天気・気温
				              </td>
				              <td class="text-left">
				                2016/8/28 16:00頃晴れ31度
				              </td>
				            </tr>
				            <tr>
				              <td>
				                被災場所
				              </td>
				              <td class="text-left">
				                イノベーションハブ九州会場
				              </td>
				            </tr>
				            <tr>
				              <td>
				                状況
				              </td>
				              <td class="text-left">
				                ハッカソンイベントで徹夜した翌日の夕方。
				                <br>
				                さぁ発表！・・・というところで揺れがはじまった。
				                <br>
				                「地震か・・・・」と思った瞬間、大きなゆれに変化した！！
				              </td>
				            </tr>
				          </tbody>
				        </table>
		                </div>
		                <a href="http://sample-simple-toolchain-1470903399938.mybluemix.net/2/playindex" class="btn btn-sm btn-primary btn-block" role="button">次へ</a>
		            </form>
		        </div>
		    </div>
		</div>
    </div>
</div>
</form>

</body>
</html>