<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bousai-Go</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <script src="http://api.its-mo.com/cgi/loader.cgi?key=JSZf2b54f3ee3d0&ver=2.0&api=zdcmap.js,shape.js,search.js&enc=UTF8&force=1" type="text/javascript"></script>
	<script type="text/javascript">
	//<![CDATA[
	    var map, mrk,
	        lat = 33.585329722, lon = 130.420721667;
	
	    function loadMap() {
	        var latlon = new ZDC.LatLon(lat, lon);
	        map = new ZDC.Map(
	            document.getElementById('ZMap'),
	            {
	                latlon: latlon,
	                zoom: 10
	            }
	        );
	        /* マーカを作成 */
	        mrk = new ZDC.Marker(latlon);
	
	        /* マーカを追加 */
	        map.addWidget(mrk);
	    }
	//]]>
	</script>
	

  </head>
  <body onload="loadMap()">
    <div class="container">
      <h1>クエスト作成<small> / 更新日時：2016/6/1 14:01:30</small></h1>
	<p>ゲームを作ってボウサイを学ぼう。災害を想像してゲームを作成する体験を”DIG”を体験しましょう。</p>

	<br>
        <label for="title">クエスト名</label> 
        <input type="text" class="form-control" id="game_name" name="game_name" maxlength='28' placeholder="ゲーム名" value="デモ用ゲーム１" required>
	<br>

	<h2>避難プロローグ</h2>
      <div class="form-group">
        <label for="title">日時・天気・気温</label> 
        <input type="text" class="form-control" id="game_templ" name="game_templ" maxlength='28' placeholder="季節" value="2016/8/28 16:00頃　晴れ　31度" required>
	<br>
        <label for="title">被災場所</label> 
        <input type="text" class="form-control" id="game_field" name="game_field" maxlength='28' placeholder="場所" value="イノベーションハブ九州会場" required>
	<br>
        <label for="title">状況</label> 
        <input type="text" class="form-control" id="game_situ" name="game_situ" maxlength='28' placeholder="状況" value="イベント会場に来ているため、手持ち防災具なし。ペットボトルの水のみ" required>
      </div>

	<h2>避難ルート</h2>
  <p>カードの追加・削除によって、自動的に経路が算出される（予定です）</p>
  
  <script>
  <!--
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前３丁目２?１ 日本生命博多駅前ビル 33.588592, 130.418505
    //明治公園 33.588618 130.417736
    //日本, 〒812-0011 福岡県福岡市博多区博多駅前４丁目１１?１２ 東住吉公民館 33.586176 130.418465
  --> 
  </script>
  
  <div id="ZMap" style="border:1px solid #777777; width:90%; height:300px;"></div>
<!--    <div style="bottom:10px; left:10px; position:absolute;"> -->
	<p>ルートを表示</p>
	</br>

	<h2>チェックポイントクイズ</h2>
	<p>避難途中にチェックポイントをおいて、ボウサイカードをもちいたクイズを登録します</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-sm-8">カード名</th>
              <th class="col-sm-3 text-center">更新日時</th>
            </tr>
          </thead>
          <tbody>
            <% list.forEach(function(row) { %>
            <tr>
              <td>
                <a href="#" data-remote="/memos4/<%= row.id %>" data-toggle="modal" data-target="#dialog" data-backdrop="static" data-keyboard="false"><%= row.title %></a>
              </td>
              <td class="text-center">
                <%= row.updatedAt %>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="modal" id="dialog" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <span style="color:#dddddd;">デモ版では右記ボタンは使用できません</span>
    <button type="button" class="btn btn-info">カード追加</button>
    <button type="button" class="btn btn-info">カード削除</button>
    <button type="button" class="btn btn-primary">クエスト保存</button>
    <button type="button" class="btn btn-primary">キャンセル</button>
  </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(document).on("hidden.bs.modal", function(event) {
          $(event.target).removeData("bs.modal").find(".modal-content").empty();
        });
      });
    </script>
  </body>
</html>